/* b4 mixins */
// stylelint-disable declaration-no-important

@mixin float-left {
  float: left !important;
}
@mixin float-right {
  float: right !important;
}
@mixin float-none {
  float: none !important;
}


// @import "b4-custom-variables";
@import "b4-display";
@import "b4-assets/utilities/float";
@import "b4-spacing";
