/* Homepage Dashboard */

input:focus {
  outline: none;
}

.tborder {
  border-top: 1px solid #ccc;
}

.pt-zero {
  padding-top: 0 !important;
}

.bborder {
  border-bottom: 1px solid #ccc;
}

.homepage-dashboard {
  background: #eee;
  .dasContent {
    background: #fff;
    border-radius: 10px;
    padding: 60px 0;
    .overview-head {
      padding: 20px 0 10px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      span {
        font-size: 19px;
      }
    }
    .overview-body {
      padding: 30px 10px 10px 20px;
    }
    .col-sm-5 {
      box-shadow: 0 0 20px #ddd;
      padding: 0;
    }
  }
}



.overview-footer {
  div {
    display: inline-block;
    text-align: center;
    margin: 12px;
    strong {
      font-size: 35px;
    }
  }
  text-align: center;
}

.chart-description {
  display: inline-block;
  top: -70px;
  left: 50px;
  position: relative;
  p span:first-child {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
  }
}



.overview-redaction {
  background: #fff;
  border-radius: 10px;
  padding-bottom: 40px;
}

.custo.nav-tabs {
  padding-top: 40px;
}

.overview-redaction > .nav-tabs li:first-child {
  margin-left: 26%;
}

.custo.nav-tabs li {
  margin-bottom: 0;
  a {
    border: none;
    border-bottom: 4px solid transparent;
    &:focus, &:hover {
      border: none;
      border-bottom: 4px solid #0e62c7;
    }
  }
  &.active a {
    border: none;
    border-bottom: 4px solid #0e62c7;
  }
}



.content-tmp > .nav-tabs li:first-child {
  margin-left: 8%;
}

/* Matching tab Styling */

.list-content .viewChange span {
  font-size: 23px;
  margin: 35px 0 15px;
  color: #34d058 !important;
}

.homepage-porter {
  .overview-footer {
    border-left: 1px solid #ccc;
    top: 35px;
    position: relative;
  }
  .chart-description {
    left: 40px;
  }
  .nav-tabs {
    border-bottom: 1px solid #ddd !important;
  }
  .nav.nav-tabs > li > a {
    background: none;
  }
  .photo-view {
    img {
      margin: 0 auto;
    }
    p {
      text-align: center;
      margin-top: 5px;
    }
  }
}



.photo-view .col-xs-4 {
  margin-bottom: 20px;
}

.img-box {
  max-width: 40px;
  display: inline-block;
}

#redaction .chart-description {
  top: -46px;
}

/* upload modal styling */

#uploadModal {
  .modal-header {
    border: none;
  }
  .modal-footer {
    border: none;
    a {
      margin-right: 15px;
      text-decoration: underline;
    }
  }
  .modal-header .tbar {
    width: 25px;
    height: 3px;
    background: blue;
    display: inline-block;
  }
  .modal-body {
    display: flex;
    i {
      font-size: 22px;
      border: 1px solid #ccc;
      padding: 14px;
      border-radius: 50%;
      margin-bottom: 5px;
    }
    .color-red {
      color: #990000;
    }
  }
}

#preview_modal .modal-content {
  padding: 0;
}

/* check box styles */

.checkbox-custom {
  opacity: 0;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.checkbox-custom {
  + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #f59393;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 10px;
    text-align: center;
    position: relative;
    top: -13px;
  }
  &:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #f59393;
    color: #fff;
  }
}

/* table row on hover */

.list-content .table-hover > tbody > tr {
  &:hover {
    background: #d9edf7;
  }
  > th {
    padding: 22px 15px !important;
  }
}

/* animated btn styling */

.animated-button {
    position: fixed;
    bottom: 32px;
    right: 52px;
    z-index: 1000;

    figure.gooey-btn {
        position: relative;

        a {
            // padding: 17px 17px;
            width: 50px;
            height: 50px;
            font-size: 18px;
            border-radius: 50%;
            background: #f59393;
            color: #fff;
            display: inline-block;
            box-shadow: 0 0 20px #ddd;
            text-decoration: none;

            &#icon2, &#icon3, &#icon4, &#icon5 {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                right: 0;
                bottom: 0px;
                z-index: 11;
                transition: all 0.3s ease-out;
            }

            > span {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
    &.btn-open{
        figure.gooey-btn{
            a {
                &#icon2, &#icon3, &#icon4, &#icon5 {
                    visibility: visible;
                    opacity: 1;
                }
                &#icon2 {
                    bottom: 75px !important;
                }

                &#icon3 {
                    bottom: 133px !important;
                }

                &#icon4 {
                    bottom: 193px !important;
                }

                &#icon5 {
                    bottom: 253px !important;
                }
            }
        }
    }
}

/* .animated-button {
  position: fixed;
  bottom: 32px;
  right: 52px;
  z-index: 1000;
}

#icon2, #icon3, #icon4, #icon5 {
  position: absolute;
  right: 9px;
  bottom: 7px;
  z-index: 11;
  transition: bottom 0.5s ease-out;
}

.animated-button a {
  padding: 17px 17px;
  font-size: 18px;
  border-radius: 50%;
  background: #f59393;
  color: #fff;
  display: inline-block;
  box-shadow: 0 0 20px #ddd;
}

#icon1 {
  padding: 16px 21px;
  font-size: 20px;
}

.top2 {
  bottom: 80px !important;
}

.top3 {
  bottom: 143px !important;
}

.top4 {
  bottom: 193px !important;
}

.top5 {
  bottom: 253px !important;
}

.animated-button .gooey-btn {
  position: relative;
  z-index: 111;
} */

.diff-view #receprionnees #allView {
  overflow-x: hidden;
  overflow-y: hidden;
}

/*  preview modal and its carousel styling */

.item-head {
  h3 {
    display: inline-block;
    margin: 0;
  }
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  .close {
    top: 10px;
    position: relative;
  }
}

.item-body {
  .img-wrapper {
    float: right;
  }
  padding: 30px 0;
  .celine {
    color: #333;
  }
  .exp {
    font-size: 15px;
    margin-top: 25px;
  }
}

.item-footer .container-box {
  text-align: center;
  button {
    width: 156px;
  }
}

.item-body .bborder p:last-child {
  margin-bottom: 15px !important;
}

/*   bootstrap carousal defalt */

/* #carousel-list .carousel-control {
  background: none;
  opacity: 1;
  //background: aquamarine;
}

#carousel-list .carousel-control.right {
  right: -120px;
}

#carousel-list .carousel-control.left {
  left: -120px;
}

#carousel-list .carousel-control span:before {
  color: #6f5499;
} */

#productHavModal{
    .edit-prod{
        .go-back{
            display: inline-flex;
            padding: 6px 8px;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            text-decoration: none;
            color: #404040;
            box-shadow: inset 0 0 0px 1px #ddd;
            transition: all 0.1s ease;
            i{
                font-size: 13px;
            }
            &:hover{
                background: #f2f2f2;
            }
        }
    }
    .carousel-nav{
        &-left, &-right{
            position: absolute;
            top: 50%;
            z-index: 1042;
            // opacity: 0.6;
            background-color: rgba(251, 251, 251, 1);
            transform: translateY(-51%);
            transition: all 0.3s ease;
            i{
                color: #404040;
            }
            &:hover{
                /* background-color: rgba(251, 251, 251, 1);
                opacity: 1; */
                border: 1px solid #404040;
            }
        }
        &-left{
            left: 7%;
        }
        &-right{
            right: 7%;
        }
    }
    .prod-info{
        // border-bottom: 1px solid #ddd;
        li{
            a{
                border-bottom: 4px solid rgba(64, 64, 64, 0);
                background-color: #fff;
                padding: 5px 10px;
                text-transform: uppercase;
                color: #cacaca;
                transition: all 0.3s ease;
            }
            &.active, &:hover{
                a{
                    border-bottom: 4px solid rgba(64, 64, 64, 1);
                    color: #404040;
                }
            }
        }
        .tab-content{
            padding: 10px 0 0;
            .table-striped{
                tr{
                    border: unset;
                    .prod-img, .prod-name{
                        vertical-align: middle;
                    }
                    .prod-img{
                        text-align: center;
                        img{
                            max-width: 60px;
                            max-height: 100px;
                        }
                    }
                    .prod-name{
                        text-transform: uppercase;
                    }
                }
            }
            #similarProducts{
                tr{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.carousel {
    &.slide {
        width: calc(100% - 5%);
        max-height: 350px;
        text-align: center;
        .productImage {
            max-height: 320px;
            text-align: center;
            vertical-align: middle;
            height: 320px;
        }
        .carousel-inner{
            .item{
                text-align: center;
            }
        }
        .carousel-control{
            .glyphicon{
                color: #c1c1c1;
            }
            &.left{
                left: -25px;
            }
            &.right{
                right: -25px;
            }
        }
        .carousel-indicators{
            bottom: -25px;
            margin-bottom: 0;
            li{
                background-color: rgba(193,193,193,0.5);
                transition: background-color 0.3s ease;
                &.active, &:hover{
                    background-color: rgba(193,193,193,1);
                }
            }
        }
    }
}

/* bootstrap carousal defalt  ends */

.item-footer {
  .validee {
    color: green;
    margin-right: 15px;
  }
  .container-box .envo-pos {
    top: 10px;
    position: relative;
  }
}

/*.item-footer .container-box textarea{

    display: inline-block;

    width: 200px;

}*/

/* not to flikr modal */

#preview_modal .modal-content .carousel {
  // min-height: 650px;
}

/* carousel arrow styling  */

#carousel-list nav a {
  position: absolute;
  top: 50%;
  display: block;
  outline: none;
  text-align: left;
  z-index: 1000;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  &.prev {
    left: -175px !important;
  }
  &.next {
    right: -175px !important;
  }
  svg {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
}

.nav-roundslide {
  a {
    margin: 0 20px;
    padding: 15px;
    width: 62px;
    height: 62px;
    border-radius: 40px;
    background: #f59393;
    /*#34495e;*/
    -webkit-transition: width 0.3s, background-color 0.3s;
    transition: width 0.3s, background-color 0.3s;
  }
  .icon-wrap {
    position: absolute;
    width: 32px;
  }
  a {
    &.prev .icon-wrap {
      left: 15px;
    }
    &.next .icon-wrap {
      right: 15px;
    }
  }
  svg.icon {
    fill: #f8f8f8;
    /*#566473;*/
  }
  h3 {
    position: absolute;
    top: 7px;
    margin: 0;
    color: aliceblue;
    /*#566473;*/
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 0.85em;
    line-height: 4.45;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
  }
  a {
    &.prev h3 {
      right: 40px;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    &.next h3 {
      left: 45px;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    &:hover {
      width: 200px;
      background: #f59393;
      /*#34495e;*/
      h3 {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
}

/* SVG wrap */

.svg-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.search-box {
  span {
    top: 0;
    background: #f59393;
    color: #fff;
    border: #23688b;
  }
  #myInput {
    width: 132px;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    border: 2px solid #f59393;
  }
  input:focus {
    width: 100% !important;
  }
}

.list-content {
  #allView {
    overflow-x: hidden !important;
  }
  .viewChange .glphyicon-th {
    color: green;
    font-size: 23px;
  }
}

.modal-zindex {
  z-index: 11111;
  top: 90px;
}

.gly {
  font-size: 22px;
  color: green;
  top: -13px;
}

.modal-high {
  height: 100%;
}

.modal-head {
  header: none;
}

.list-content .listView tr:hover {
  cursor: pointer;
}

#preview_modal .item-body .exp {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 25px;
}

.item-body .img-wrapper {
  max-width: 105px;
  max-height: 135px;
}

#preview_modal textarea.form-control.edit-desc {
  min-height: 180px !important;
  font-size: 14px !important;
}


@media (min-width: 992px) {
  .custo.nav-tabs li {
    margin-right: 2%;
  }
}

@media (min-width: 750px) {
  .homepage-dashboard .dasContent .col-sm-5:last-child {
    margin-left: 25px;
  }
}

@media (max-width: 1290px) {
  #redaction .chart-description, .chart-description {
    top: 0 !important;
  }
}

@media (max-width: 768px) {
  #redaction .chart-description, .chart-description {
    top: -70px !important;
  }
}

@media (max-width: 767px) {
  .homepage-porter .overview-footer {
    border: none;
  }
}
